*{
    overflow-x: hidden;
}
.content{
    max-width: 960px;
    padding: 20px;
    margin: auto;
    text-align: center;
    font-size: larger;
    background-color: rgb(245, 241, 241);
}
#pic{
    border-radius: 100%;
}
.footer{
    background: #343a40;
    color: #fffafa;
    height: 20px;
    width: 100%;
    text-align: center;
    position: absolute;
    padding-top: 5px;
}
